.Page-container {
}

.Main-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  padding: 40px;
  padding-top: 0px;
  direction: rtl;
}

.Questions-header-container {
  clear: both;
  margin: 0 0 5px 0;
  padding: 0 1% 1.1em 1%;
  border-bottom: 1px dotted #ccc;
}

.Questions-header {
}

.Questions-header-container .Description {
  font-size: 95%;
  line-height: 135%;
  color: #555;
}

.Paragraph-description {
  font-size: 95%;
  line-height: 135%;
  color: #555;
}

.Questions-header-description {
  font-weight: 500;
  margin-bottom: 10px;
}

.Questions-header-errors {
  width: 100%;
  margin: 15px auto 15px auto;
  background: #fff;
  border: 1px solid red;
  text-align: center;
  padding: 1em 0 1em 0;
  border-radius: 20px;
}

.Block-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.Block-container.Focused {
  background-color: #fff7c0;
}

.Block-container.Invalid {
  background-color: #ffdfdf;
}

.Block-title,
.Block-title-no-bold {
  font-weight: bold;
  margin-bottom: 5px;
}

.Block-title-no-bold {
  font-weight: normal;
}

.Question-text {
  margin-right: 5px;
}

.Question-input {
  width: 100%;
  border: 1px solid #818a91;
  color: #373a3c;
  vertical-align: middle;
  -webkit-box-flex: 1;
  flex-grow: 1;
  font-size: 15px;
  min-height: 40px;
  padding: 5px 14px;
  border-radius: 3px;
}

.Required-star {
  display: inline;
  float: none;
  color: red;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.separator {
  width: 100%;
  height: 1px;
  border-bottom: 1px dotted #ccc;
}

.Success-container {
  margin-left: auto;
  margin-right: auto;
}

.Success-label {
  text-align: center;
}

.Error-container {
  margin: 15px auto 15px auto;
  background: #fff;
  border: 1px solid red;
  text-align: center;
  padding: 1em 0 1em 0;
  border-radius: 20px;
}

.Error-title {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 125%;
  color: #df0000;
}

.Error-description {
  margin: 0 0 2px 0;
  color: #000 !important;
  font-size: 100%;
}

.Error-badge {
  padding: 2px 8px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffdfdf;
  color: red;
  border-radius: 10px;
}
